<%- include('./partials/header-articles') %>

    <article class="post pure-u-1">
        <header>
            <h1><%= title %></h1>
            <div class="post-meta">
                Par <a href="#"><%= author %> </a>
                dans la catégorie <a href="#"><%= category %></a>
            </div>
        </header>
        <figure class="post-picture">
            <img class="pure-img" src="../images/<%= img %>" alt=<%= imgAlt %>>
            <figcaption class="post-picture-caption"><%= subtitle %></figcaption>
        </figure>
        <div class="post-content">
            <p><%= text %></p>
        </div>
        <footer>
            <a class="pure-button" href="/">Retour à l'accueil</a>
        </footer>
    </article>

    
    <%- include('./partials/footer') %>